body.dark-mode {
    background: #313439;
    color: #fffffffc;
}
/* body.dark-mode .ffde2 button:hover {
    background: #ffffff11;
} */
body.dark-mode  hr {
    background: #d0e8ff21;
}
body.dark-mode .scrol button:hover {
    background-color: #ffffff11;
}
body.dark-mode .ddeew {
    background: #ffffff1c;
}
body.dark-mode .ddeew input {
    color: rgba(255, 255, 255, 0.904);
}
body.dark-mode button {
    color: white;
}
body.dark-mode .zoom1 #zood {
    box-shadow: 0 0 0 1px inset #313439, 0 0 0 3px inset #78c0ffb3;
}
body.dark-mode icon svg {
    color: #ededed;
    fill: #ededed;
}
body.dark-mode .ddeew:focus-within {
    box-shadow: 0px 2px 6px #2b2d31c7;
    outline-color: #00000017;
}
body.dark-mode .xoox {
    background: #0083f5;
}
body.dark-mode .xoox new {
    background-color: #ffffff;
}
body.dark-mode .xoox:hover {
    background: #269aff;
}
body.dark-mode .ffde2 button:hover {
    background: #ffffff11;
}
body.dark-mode .jaxe a {
    color: #78c0ff;
    background: #42a7ff36;
}
body.dark-mode .jaxe a:hover {
    background: #1b95ff61;
}
body.dark-mode .sitteng-a select {
    background: #3f4246;
    color: white;
}
body.dark-mode .sitteng-a select:hover {
    outline: solid 1px #ffffff28;
}
body.dark-mode .sitteng {
    background-color: #313439;
}
body.dark-mode .no_scrol {
    background: #3134399e;
}
body.dark-mode .zoom {
    background-color: #1d8aff;
}
body.dark-mode input[type="checkbox"]:hover:before {
    background-color: #ffffff10;
}
body.dark-mode input[type="checkbox"]:active:before {
    background-color: #ffffff1c;
}
body.dark-mode input[type="checkbox"]:checked:hover:before {
    padding: 18px;
    background: #0095ff26;
}
body.dark-mode input[type="checkbox"]:checked:active:before {
    padding: 18px;
    background: #0095ff4f;
}
body.dark-mode .close-button button:hover {
    background: #ffffff11;
}
body.dark-mode #zood:hover {
    background: #ffffff13;
}
body.dark-mode #zood:active {
    background: #ffffff2f;
}
body.dark-mode .menu-div {
    background: #313439;
    box-shadow: 0px 4px 14px #00000063;
}
body.dark-mode .menu-div button:hover {
    background: rgba(255, 255, 255, 0.067);
}
body.dark-mode .Vipsub {
    background: #313439;
    box-shadow: 0px 4px 14px #00000063;
}
body.dark-mode .name123 {
    box-shadow: 0 0 0 2px #313439;
    color: #495261;
}
body.dark-mode .logo:hover .Vipsub {
    box-shadow: 0px 4px 14px #00000063;
}
body.dark-mode .Vipsub-button:focus {
    box-shadow: 0 0 0 2px #313439, 0 0 0 3px #24e3d9;
}
body.dark-mode .zssx:hover {
    background: #ffffff1f;
}
body.dark-mode .ripple {
    background: rgba(255, 255, 255, 0.116);
}
body.dark-mode .confirm-dialog {
    background-color: #313439;
}
body.dark-mode .confirm-dialog button#confirmCancel {
    background: #ffffff33;
    color: white;
}
body.dark-mode .confirm-dialog button#confirmCancel:hover {
    background: #ffffff44;
}
/* body.dark-mode ::-webkit-scrollbar-track {
    background: #ffffff26;
} */
body.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
body.dark-mode .hover {
    background: #313439;
}
